.drop-down {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 280px;
}

.dropdown > button {
  height: 60px;
  width: 100%;

  background-color: #7790ff;
  border: solid #707070 1px;
  font-size: 1.375rem;
}

.dropdown-events {
  width: 280px;
  max-height: 320px;

  border: solid #cdcdcd 1px;
  border-top: none;
}

.dropdown-overflow {
  overflow-y: scroll;
}

.dropdown-events > .event-option {
  border-bottom: solid #cdcdcd 1px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #fcf1f1;
  height: 100px;
}

.event-option:nth-last-child(1) {
  border: none;
}

.event-option > button {
  display: block;
  height: 100%;

  background-color: #fcf1f1;
  border: none;
}

.event-option > button:hover {
  background-color: #fab1b1;
}

.event-detail {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  width: 340px;
  margin: 10px;
  gap: 5px;

  border: solid #000 1px;
  background-color: #ffffff;
}

.event-detail > p {
  padding: 0;
  margin: 0;
}

.event-detail > .status {
  flex-shrink: 0;
  width: 20px;
  height: 60px;
}

.event-detail > .onGoing,
.popup > .status.onGoing,
.ss-header > p.onGoing {
  background-color: #667ed5;
}

.event-detail > .Finished,
.popup > .status.Finished,
.ss-header > p.Finished {
  background-color: #96f5a4;
}

.event-detail > .Miss,
.popup > .status.Miss,
.ss-header > p.Miss {
  background-color: #6e6e6e;
}
